# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [23]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.random.randint(1, 21, size=(6, 4)), \
    columns=['A', 'B', 'C', 'D'], index=['A', 'B', 'C', 'D', 'E', 'F'])
print(df1)
print("Accessing Single element", df1.loc['A']['A'])
df1.set_index('A', inplace=True) # removes row index
df1

    A   B   C   D
A  13   6   5   4
B   4  12   9   7
C   6   5   8   3
D  15   3   8  11
E  15   2  19   9
F  13   5  18  16
Accessing Single element 13

     B   C   D
A
13   6   5   4
4   12   9   7
6    5   8   3
15   3   8  11
15   2  19   9
13   5  18  16

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [30]:
df1 = pd.DataFrame(np.random.randint(1, 21, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print(df1.loc['Y']['B'])

20

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [38]:
df1 = pd.DataFrame(np.random.randint(1, 21, size=(5, 3)), columns=['A', 'B', 'C'])
df1['D'] = df1['A'] * df1['B']
print("New DF column with first 2 column product:\n", df1)

New DF column with first 2 column product:
     A   B   C    D
0  11   7  10   77
1   8   7   7   56
2  16  20   2  320
3  13  14  20  182
4   4  16   6   64

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [44]:
df1 = pd.DataFrame(np.random.randint(1, 21, size=(4, 3)), columns=['A', 'B', 'C'])
row_sum = df1.sum(axis=1)
column_sum = df1.sum(axis=0)
print(row_sum)
print(column_sum)

0    38
1    42
2    30
3    34
dtype: int64
A    54
B    40
C    50
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [49]:
df1 = pd.DataFrame(np.random.randint(1, 21, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:\n", df1)

df1.iloc[0, 1] = np.nan
df1.iloc[2, 2] = np.nan
df1.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df1)

df1.fillna(df1.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df1)

Original DataFrame:
     A   B   C
0  18   1   8
1  14  15  18
2  19  10  17
3   1  20   7
4   1  17  15
DataFrame with NaN values:
      A     B     C
0  18.0   NaN   8.0
1  14.0  15.0  18.0
2  19.0  10.0   NaN
3   1.0  20.0   7.0
4   NaN  17.0  15.0
DataFrame with NaN values filled:
      A     B     C
0  18.0  15.5   8.0
1  14.0  15.0  18.0
2  19.0  10.0  12.0
3   1.0  20.0   7.0
4  13.0  17.0  15.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [53]:
df1 = pd.DataFrame(np.random.randint(1, 21, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
df1.iloc[0, 1] = np.nan
df1.iloc[2, 2] = np.nan
df1.iloc[4, 0] = np.nan
df1.dropna(inplace=True)
print(df1)

      A    B     C   D
1  14.0  6.0   5.0   2
3   5.0  4.0   6.0  10
5   2.0  6.0  10.0  11

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [57]:
df2 = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10),\
                    'Value': np.random.randint(1, 21, size=10)})
df3 = df2.groupby('Category')['Value'].agg(['mean', 'sum'])
print(df3)

               mean  sum
Category
A         11.833333   71
B         11.000000   11
C         10.333333   31

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [59]:
df1 = pd.DataFrame({"Product": np.random.choice(['Product1', 'Product2', 'Product3'], size= 10), "Category": np.random.choice(['A', 'B', 'C'], size=10), "Sales": np.random.randint(100, 1000, size=10)})
print("Original DataFrame:", df1)
df2 = df1.groupby('Category')['Sales'].sum()
print(df2)

Original DataFrame:     Product Category  Sales
0  Product3        B    647
1  Product1        C    663
2  Product1        B    119
3  Product1        B    879
4  Product3        A    794
5  Product2        C    448
6  Product2        B    336
7  Product1        A    522
8  Product1        B    383
9  Product1        B    715
Category
A    1316
B    3079
C    1111
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [63]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Values': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Values': np.random.randint(1, 100, size=4)})
merged_df = pd.merge(df1, df2, on="Key")
print(merged_df)

  Key  Values_x  Values_y
0   A        10         2
1   B        96        63
2   C        24        34
3   D        83        81

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [66]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
row_concat = pd.concat([df1, df2], axis=1)
column_concat = pd.concat([df1, df2], axis=0)
print("Row:\n", row_concat)
print("Column:\n", column_concat)

Row:
     A   B   C   D
0  40  49  12  67
1  16  45  53  74
2  73  82  21  13
Column:
       A     B     C     D
0  40.0  49.0   NaN   NaN
1  16.0  45.0   NaN   NaN
2  73.0  82.0   NaN   NaN
0   NaN   NaN  12.0  67.0
1   NaN   NaN  53.0  74.0
2   NaN   NaN  21.0  13.0

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [79]:
date_range = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_range, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_range)))
df.set_index('date', inplace=True)
print(df)

monthly_mean = df.resample('M').mean()  #'M' means month
print(monthly_mean)

            data
date
2022-01-01    29
2022-01-02    15
2022-01-03    74
2022-01-04     8
2022-01-05    81
...          ...
2022-12-27    87
2022-12-28    92
2022-12-29    71
2022-12-30     7
2022-12-31    37

[365 rows x 1 columns]
                 data
date
2022-01-31  52.161290
2022-02-28  45.464286
2022-03-31  52.387097
2022-04-30  47.466667
2022-05-31  46.645161
2022-06-30  49.666667
2022-07-31  48.161290
2022-08-31  54.903226
2022-09-30  51.066667
2022-10-31  43.935484
2022-11-30  42.433333
2022-12-31  55.935484

C:\Users\patil\AppData\Local\Temp\ipykernel_3820\2732757944.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()  #'M' means month

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [81]:
data_range = pd.date_range(start='2022-01-01', end="2022-12-31", freq='D')
df = pd.DataFrame(data_range, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(data_range)))
df.set_index('date', inplace=True)
print(df)

rolling_mean = df.rolling(window=7).mean()
print(rolling_mean)

            data
date
2022-01-01    35
2022-01-02    98
2022-01-03    62
2022-01-04    52
2022-01-05    78
...          ...
2022-12-27    87
2022-12-28    24
2022-12-29    40
2022-12-30    71
2022-12-31    73

[365 rows x 1 columns]
                 data
date
2022-01-01        NaN
2022-01-02        NaN
2022-01-03        NaN
2022-01-04        NaN
2022-01-05        NaN
...               ...
2022-12-27  66.428571
2022-12-28  67.142857
2022-12-29  66.000000
2022-12-30  67.571429
2022-12-31  69.000000

[365 rows x 1 columns]

In [88]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print(df)

print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

                      Value1  Value2  Value3
Category SubCategory
A        one              39      50      20
         two              96      56      48
B        one              77      55      56
         two              18      73      13
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              39      50      20
two              96      56      48
Slicing at Category 'B' and SubCategory 'two':
Value1    18
Value2    73
Value3    13
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [94]:
arrays = (['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two'])
index = pd.MultiIndex.from_arrays(arrays, names=("Category", "Subcategory"))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print(df)

sum_values = df.groupby(['Category', 'Subcategory'])[['Value1', 'Value2', 'Value3']].sum()
print(sum_values)

                      Value1  Value2  Value3
Category Subcategory
A        one              32      66      56
         two              40      55       3
B        one               8      63      86
         two              37       6      58
                      Value1  Value2  Value3
Category Subcategory
A        one              32      66      56
         two              40      55       3
B        one               8      63      86
         two              37       6      58

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [98]:
date_range = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame({"Date": np.random.choice(data_range, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), "Value": np.random.randint(1, 100, size=20)})
print(df)

pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc=sum)
print(pivot_table)

         Date Category  Value
0  2022-12-14        C     22
1  2022-12-09        A     10
2  2022-08-08        B     21
3  2022-11-28        A     72
4  2022-02-05        A     39
5  2022-09-08        A     77
6  2022-10-29        B     79
7  2022-11-28        A     73
8  2022-12-17        C     77
9  2022-02-01        C     70
10 2022-10-09        C     67
11 2022-05-18        B     13
12 2022-10-25        C     26
13 2022-06-29        C     15
14 2022-07-13        C     49
15 2022-04-12        C     91
16 2022-02-01        C     16
17 2022-11-13        B     33
18 2022-03-19        C     91
19 2022-08-22        B     33
Category        A     B     C
Date
2022-02-01    NaN   NaN  86.0
2022-02-05   39.0   NaN   NaN
2022-03-19    NaN   NaN  91.0
2022-04-12    NaN   NaN  91.0
2022-05-18    NaN  13.0   NaN
2022-06-29    NaN   NaN  15.0
2022-07-13    NaN   NaN  49.0
2022-08-08    NaN  21.0   NaN
2022-08-22    NaN  33.0   NaN
2022-09-08   77.0   NaN   NaN
2022-10-09    NaN   NaN  67.0
2022-10-25    NaN   NaN  26.0
2022-10-29    NaN  79.0   NaN
2022-11-13    NaN  33.0   NaN
2022-11-28  145.0   NaN   NaN
2022-12-09   10.0   NaN   NaN
2022-12-14    NaN   NaN  22.0
2022-12-17    NaN   NaN  77.0

C:\Users\patil\AppData\Local\Temp\ipykernel_3820\1697875281.py:5: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc=sum)

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [99]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})

pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print(pivot_table)

Quarter     Q1     Q2     Q3     Q4
Year
2020       NaN  228.0    NaN  407.0
2021     581.5    NaN    NaN  261.0
2022      76.0  665.5  220.0    NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [100]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.apply(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  56  36  48
1  73   4  58
2  30  68  89
3  79  97   2
4   3  94  46
Doubled DataFrame:
     A    B    C
0  112   72   96
1  146    8  116
2   60  136  178
3  158  194    4
4    6  188   92

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [101]:
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df['sum'] = df.apply(lambda row: row.sum(), axis=1)
print(df)

Original DataFrame:
    A   B   C
0  24  14  76
1   9  31  43
2  51  40  67
3  20  43   9
4  80  13  45
5  80  78  58
    A   B   C  sum
0  24  14  76  114
1   9  31  43   83
2  51  40  67  158
3  20  43   9   72
4  80  13  45  138
5  80  78  58  216

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [102]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [103]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object