In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example1.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('''
    Create Table If Not Exists employee(
        id Integer Primary Key,
        name Text Not Null,
        department Text             
    )
''')
# without commit changes will not be applied
connection.commit()

In [5]:
cursor.execute('''
    Select * from employee
''')
# rturns an object

In [9]:
## Inserting data in table
cursor.execute('''
    Insert Into employee(name,id,department)
        VALUES('Krish', 33, 'Data Scientist')
''')

cursor.execute('''
    Insert Into employee(name,id,department)
        VALUES('Poonam', 32, 'Data Scientist')
''')

cursor.execute('''
    Insert Into employee(name,id,department)
        VALUES('Vaibhav', 31, 'Data Scientist')
''')
connection.commit()

In [10]:
# query the data from table
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(31, 'Vaibhav', 'Data Scientist')
(32, 'Poonam', 'Data Scientist')
(33, 'Krish', 'Data Scientist')

In [11]:
# update the data in table
cursor.execute('''
UPDATE employee
Set id=39
where name="Krish"
''')

connection.commit()

In [12]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(31, 'Vaibhav', 'Data Scientist')
(32, 'Poonam', 'Data Scientist')
(39, 'Krish', 'Data Scientist')

In [13]:
# Delete the Data from table
cursor.execute('''
Delete from employee
               where name = 'Krish'
''')
connection.commit()

In [14]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(31, 'Vaibhav', 'Data Scientist')
(32, 'Poonam', 'Data Scientist')

## Working With Sales database practical

In [17]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
    Create Table If Not Exists sales_database(
        id Integer Primary Key,
        date Text Not Null,
        product Text Not Null,
        sales Integer,
        region Text           
    )
''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product3', 150, 'East'),
    ('2023-01-03', 'Product1', 200, 'West'),
    ('2023-01-04', 'Product2', 300, 'South')
]

cursor.executemany('''
INSERT INTO sales_database(date, product, sales, region)
                   values(?,?,?,?) 
''',sales_data)

connection.commit(
    
)

In [18]:
cursor.execute('Select * from sales_database')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product3', 150, 'East')
(3, '2023-01-03', 'Product1', 200, 'West')
(4, '2023-01-04', 'Product2', 300, 'South')