# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tuple1 = tuple(range(1, 11))
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print(tuple1[0])
print(tuple1[len(tuple1)//2])
print(tuple1[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
print(tuple1[:3])
print(tuple1[-3:])
print(tuple1[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix :")
for subtuple in matrix:
    print(subtuple)

print(matrix[1][2])

Matrix :
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
tpl1 = 1, 2, 3
tpl2 = 4, 5, 6
concate = tpl1 + tpl2
print(concate)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [15]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print("Occurance of 4:", tpl.count(4))
print("First Occurance of 4:", tpl.index(4))

Occurance of 4: 3
First Occurance of 4: 4

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [16]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(f"{a} {b} {c} {d} {e}")

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [17]:
lst1 = [1, 2, 3, 4, 5]
tup1 = tuple(lst1)
print(tup1)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [19]:
tpl2 = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for subtuple in tpl2:
    print(subtuple)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [20]:
tuple1 = (1, 2, 3, 4, 5)
lst1 = list(tuple1)
lst1.append(6)
tuple1 = tuple(lst1)
print(tuple1)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [21]:
tpl1 = ("h", "e", "l", "l", "o")
joined_string = "".join(tpl1)
print(joined_string)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [22]:
dict1 = {
    (2): 3,
    (3): 6,
    (4): 9
}
print(dict1)

{2: 3, 3: 6, 4: 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [26]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for subtuple in nested_tpl:
    print()
    for item in subtuple:
        print(item, end="")

123
456
789

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [27]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
set1 = set(tpl)
print(set1)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [28]:
def minimum(tpl1):
    return min(tpl1)

def maximum(tpl1):
    return max(tpl1)

def sum_of(tpl1):
    return sum(tpl1)

tpl1 = sample_tpl = (1, 2, 3, 4, 5)
print(minimum(tpl1))
print(maximum(tpl1))
print(sum_of(tpl1))

1
5
15